* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-style: normal;
  line-height: normal;
  font-family: Lato, sans-serif;
  font-weight: 400;
}

li {
  list-style: none;
}
section {
  background-color: #eff2f9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 1170px;
  height: 800px;
  background-color: #fff;
  box-shadow: 20px 20px 40px 0px rgba(81, 91, 117, 0.25);
  padding: 60px 0 70px 0;
  display: flex;
}

.product-image-block {
  min-width: 540px;
  border-right: 2px solid rgba(20, 20, 20, 0.15);
  display: flex;
  flex-direction: column;
}
.main-image-wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prewiew-wrapper {
  display: flex;
  justify-content: center;
  gap: 60px;
}
.prewiew {
  width: 80px;
  height: 80px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0, 2s;
}

.prewiew:hover,
.prewiew.selected {
  box-shadow: 8px 8px 16px 0px rgba(81, 91, 117, 0.25);
}
.product-info-block {
  padding: 0 60px 0 60px;
  display: flex;
  flex-direction: column;
}
.main-title {
  color: rgba(20, 20, 20, 0.9);
  font-family: Montserrat, sans-serif;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 0.38px;
  margin-bottom: 5px;
}

.subtitle {
  color: rgba(20, 20, 20, 0.4);
  font-size: 16px;
  letter-spacing: 0.16px;
}

.text {
  color: rgba(20, 20, 20, 0.7);
  font-family: Rubik, sans-serif;
  font-size: 18px;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.18px;
  margin: 60px 0 65px 0;
}
.colors {
  margin-bottom: 65px;
}
.title {
  color: rgba(20, 20, 20, 0.4);
  font-size: 16px;
  letter-spacing: 0.16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.color-items {
  display: flex;
  align-items: center;
  gap: 40px;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  filter: drop-shadow(2px 2px 4px rgba(81, 91, 117, 0.25));
}
.blue {
  background-color: #013c7d;
}
.green {
  background-color: #63cba7;
}
.red {
  background-color: #d52f29;
}
.black {
  background-color: #141414;
}
.yellow {
  background-color: #f2c723;
}
.color-items > li {
  width: 30px;
  height: 30px;
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0, 2s;
}
.color-items > li:hover,
.color-items > li.selected {
  box-shadow: 2px 2px 6px 0px rgba(81, 91, 117, 0.25);
}

.wrapper {
  display: flex;
}
.wrapper > div {
  flex-grow: 1;
}
.quantity {
  font-family: inherit;
  width: 80px;
  color: rgba(20, 20, 20, 0.8);
  font-family: Rubik, sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  border: none;
  appearance: none;
  background-image: url(./image/ph_caret-down-bold.svg);
  background-repeat: no-repeat;
  background-position: right 0 top 50%;
  cursor: pointer;
}
.price {
  color: rgba(20, 20, 20, 0.8);
  font-family: Rubik, sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
.btn {
  height: 70px;
  width: 100%;
  background-color: #141414;
  color: #fff;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.18px;
  margin-top: 75px;
  cursor: pointer;
  transition: 0.2s;
}
.btn:hover {
  transform: translateY(-5px);
}
